body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background: gray;
  background-size: cover;
}
h1, h2 {
  display: inline-block;
}

h2 span {
  font-size: 50px;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  float: left;
  display: block;
  /*color: #f2f2f2;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:visited {
  color: black;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  background: gray;
  color: black;
}

.footer {
  color: black;
  bottom: 0;
  position: fixed;
  text-align: center;  
  font-style: bold;
  margin-left: 15px;
  width: 100%;
}

.footer {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.footer a:hover {
  background-color: #333;
  color: white;
}

.footer a {
  margin: 0;
}

.main-body {
  height: 80%;
  margin: auto;
}
