<!DOCTYPE html>
<html>
<head>
	<title>Do Your Part</title>
	<link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
	<div class="navbar">
	  <a href="#home">Home</a>
	  <a href="#about-us"> About Us </a>
	  <a href="#contact">Contact</a>
	</div>

	<div class='main-body'>
	  <div class="date-time">
		<p> Saturday, June 1st</p>
		<h2> <span>9:00</span> pm </h2>
	  </div>

	  <div class='weather-info'>
		<h1 class='color'> Weather Data for Vanderbilt's Campus </h1> 
		<p class='color'>Temperature: <%= data.temperature %> degrees</p>
		<p class='color'>Humidity: <%= data.humidity %>% </p>
		<p class='color'>Pressure: <%= data.pressure %> </p>
	  </div>
	</div>

	<div class='footer'>
	  <a href="https://github.com/baileympearson"> 
			Bailey Pearson
	  </a> 
	  <a href="https://github.com/yeatsec">
		Eric Yeats
	  </a>
	</div>
</body>
</html>
